<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>File Share</title>
</head>

<body>
    <div class="container is-widescreen">
        <section class="block hero is-primary">
            <div class="hero-body">
                <p class="title">
                AlpacaMax's File Share
                </p>
                <p class="subtitle">
                A simple file sharing solution built using Python3+Flask
                </p>
            </div>
        </section>

        <section class="block">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="notification is-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </section>
        
        <section class="block">
            <form method="POST" enctype="multipart/form-data" action="/">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Upload Your File: </label>
                    </div>
                    <div class="field-body">
                        <div class="field is-grouped">
                            <div class="control">
                                <div id="file-js-example" class="file has-name">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="file">
                                        <span class="file-cta">
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                        </span>
                                        <span class="file-name">filename</span>
                                    </label>
                                </div>
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-primary" value="upload">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        {% if files %}
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Added</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in files %}
                        <tr>
                            <th>
                                <span class="is-family-monospace has-text-weight-semibold">{{ f.filename }}</span>
                            </th>
                            <th>
                                <span class="is-family-monospace has-text-grey-light">
                                    {{ f.datetime_added.strftime("%m/%d/%Y at %H:%M") }}
                                </span>
                            </th>
                            <th>
                                <form method="GET" action="/download/{{ f.id }}">
                                    <input type="submit" class="button is-light" value="Download">
                                </form>
                            </th>
                            <th>
                                <form method="POST" action="/delete/{{ f.id }}">
                                    <input type="submit" class="button is-danger" value="Delete">
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="notification">
                <span>No file in the database. Upload your first file!</span>
            </div>
        {% endif %}
    </div>

    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#file-js-example .file-name');
            fileName.textContent = fileInput.files[0].name;
            }
        }
    </script>
</body>

</html>